# Environment
.env
.env.*
!.env.example

# Node
node_modules/
dist/
build/
coverage/

# Java
target/
.gradle/
*.class

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Local data
infrastructure/data/
